<section class="card">
  <div class="card-body">
    <h1>About</h1>
        <p> This application was created with the intention of putting into practice the knowledge acquired by Mechanical Orange's Interns during Spring 2. </p>
        <p>We used the following technologies to do so:</p>
        <ul>
            <li>NodeJs</li>
            <li>MongoDB</li>
            <li>MongoDB Atlas</li>
        </ul>
        <p>And also others for styling and modeling</p>
        <ul>
            <li>Handlebars templates</li>
            <li>Express</li>
            <li>Bootstrap</li>
            <li>Booswatch</li>
        </ul>
  </div>
</section>