<dir class = "jumbotron mt-4">
    <h1 class = "display-4">Notes App Nodejs and Mongodb</h1>
    <pclass = "lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem laborum, quaerat voluptatum nemo perferendis culpa!</p>
    <hr class = "my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aliquid necessitatibus incidunt vel voluptatibus rerum.</p>
    <a href="https://wwww.faztweb.com" class = "btn btn-primary">FaztWeb</a>
        <!-- Permite el uso de botones la clase btn btn-primary -->
    
</dir>