<section id="team">
    <div class="container">
        <div class="section-header">
            <h1>Team</h1>
            <p>Meet our team!</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="member"> <img src="https://thumbs.dreamstime.com/z/man-portrait-beard-modern-avatar-flat-design-vector-male-illustration-91447972.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Jesús García</h4> <span>Mentor</span>
                            <div class="social"> <a href="mailto:francisco.garcia@agilethought.com"><i class="fa fa-envelope"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="member"> <img src="https://static3.bigstockphoto.com/3/9/9/large1500/99305468.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Adrián Constandse</h4> <span>JavaScript Intern</span>
                            <div class="social"> <a href="mailto:adrian.constandse@agilethought.com"><i class="fa fa-envelope"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="member"> <img src="https://thumbs.dreamstime.com/z/profile-icon-male-hispanic-avatar-portrait-casual-person-silhouette-face-flat-design-vector-52547844.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Humberto González</h4> <span>JavaScript Intern</span>
                            <div class="social"> <a href="mailto:humbertogonzalez@agilethought.com"><i class="fa fa-envelope"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="member"> <img src="https://static1.bigstockphoto.com/3/9/9/large1500/99305390.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Daniela Rodríguez</h4> <span>JavaScript Intern</span>
                            <div class="social"> <a href="mailto:daniela.rodriguez@agilethought.com"><i class="fa fa-envelope"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
